*.DS_Store
*.ipynb_checkpoints
*.wav
*.mp3
*.mp4
data/free_music_archive_scripts/fma_small/*
data/free_music_archive_scripts/fma_metadata/*
*.csv
*.npy
*.zip
modified_pretrained_cnn_model.hdf5
pretrained_cnn_model_v1.hdf5
pretrained_cnn_model_v2.hdf5
cnn_model.hdf5
genre_classification_model.hdf5
